<div class="">
    <table class="">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matricula</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Turma</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="aluno : ${listaAlunos}">
                <td th:text="${aluno.id}"></td>
                <td th:text="${aluno.nome}"></td>
                <td th:text="${aluno.matricula}"></td>
                <td th:text="${aluno.dadosPessoais.cpf}"></td>
                <td th:text="${aluno.dadosPessoais.email}"></td>
                <td th:text="${aluno.turma.nome}"></td>
                <td align="center">
                    <a th:href="@{/updateAluno/{id}(id=${aluno.id})">Atualizar</a>
                    <a th:href="@{/deleteAluno/{id}(id=${aluno.id})">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>